* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}